{% extends "base.html" %}


{% block hlo %}


<div style="background-color: rgb(33, 255, 17); min-height: 700px;">
    <div style="padding-left: 15%; padding-right: 15%; padding-top: 2%;">
        
        <h1 style="text-align: center; color: red; text-shadow: 6px 5px 4px #198447;">Contact Us</h1>

        <div>
            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input type="email" class="form-control" placeholder="Enter your full name..">
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="Enter your email address..">
            </div>
            <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <input type="email" class="form-control" placeholder="Enter your phone number..">
            </div>
            <div class="mb-3">
                <label class="form-label">Message</label>
                <textarea class="form-control" rows="3" placeholder="Enter your message here.."></textarea>
            </div>

            <div style="text-align: center;">
                <button type="button" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</div>


{% endblock hlo %}