{% extends "base.html" %}


{% block body %}


<div style="padding: 61px; padding-left: 14%; padding-right: 16%;">
    <h2 style="text-align: center; color: red;">My Todos</h2>
    <form action="/save-todo" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Title">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Discription</label>
            <textarea name="desc" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Your Discription"></textarea>
          </div>
    
          <div style="text-align: center;">
            <button type="submit" class="btn btn-success">Add Todo</button>
          </div>
    </form>
</div>



<div style="padding: 23px;">
    <h2 style="text-align: center;
    color: red;">My All Todos</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Added Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for i in alltodo %}

         
          {% if i.tododone %}
            <tr class="table-success">
              {% else %}
            <tr>
            {% endif %}
              <th scope="row">{{i.id}}</th>
              <td>{{i.title}}</td>
              <td>{{i.discription}}</td>
              <td>{{i.datetime}}</td>
              <td>

                {% if i.tododone %}
                
                <div style="display: flex; justify-content: space-around;">
                  <button type="button" class="btn btn-danger" disabled>Delete</button>
  
                  <form action="done-todo/{{i.id}}" method="post">
                    {% csrf_token %} 
                    <button type="submit" class="btn btn-info" disabled>Done</button>
                  </form>
                </div>

                  {% else %}

                  <div style="display: flex; justify-content: space-around;">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
    
                    <form action="done-todo/{{i.id}}" method="post">
                      {% csrf_token %} 
                      <button type="submit" class="btn btn-info" >Done</button>
                    </form>
                  </div>



                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Todo</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div>
                            <p>Are you sure to delete this todo</p>
                            <p>Click on delete to delete todo</p>
                            <form action="delete-todo/{{i.id}}" method="post">
                              {% csrf_token %} 
                              <button type="submit" class="btn btn-danger" >Delect this todo</button>
                            </form>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  
                {% endif %}


                  </td>
            </tr>


          {% endfor %}
        
        </tbody>
      </table>
</div>




{% endblock body %}