{% extends "navfooter.html" %}

{% block title %}All Forms{% endblock title %}

{% block bodyblock %}


<div>
    <h2 style="text-align: center; color: red; padding: 1%;">All Contact Us Forms</h2>
    <div style="padding: 1% 8%;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            
            {% for data in all_data %}
            <div class="col">
                <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{data.full_name}}</h5>
                    <h6><b>Phone Number :</b> {{data.phone_number}}</h6>
                    <h6><b>Email-ID :</b> {{data.email_address}}</h6>
                    <p class="card-text"><b>Message :-</b> {{data.message}}</p>
                    <hr>

                    <div style="display: flex; justify-content: space-around;">


                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{data.id}}">Delete</button>



                        <button class="btn btn-info">Update</button>
                    </div>

                </div>
                </div>
            </div>




            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Warnings</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to deete this record. ---> {{data.full_name}} <br><span style="color: red;">changes are paraments! you record delete preamnently from database</span></p>

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{data.full_name}}</h5>
                                <h6><b>Phone Number :</b> {{data.phone_number}}</h6>
                                <h6><b>Email-ID :</b> {{data.email_address}}</h6>
                                <p class="card-text"><b>Message :-</b> {{data.message}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        <a href="delete-contact-from/{{data.id}}">
                            <button type="button" class="btn btn-danger">Delete Record</button>
                        </a>

                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>



{% endblock bodyblock %}