{% extends "base.html" %}

{% block home %}
<section class="hero d-flex align-items-center justify-content-center text-center">
    <div>
        <h1>Daily To-Do List</h1>
        <p>Taking on the day with a positive mindset!</p>
    </div>
</section>

<div style="background-color: rgb(184, 189, 195); min-height: 900px;">
    <div style="padding-left: 15%; padding-right: 15%; padding-top: 2%;">
        <h1 style="text-align: center; color: white; text-shadow: 4px 6px 4px black;">Add To-Do</h1>

        <form action="/updated-data/{{ allData.id }}" method="post">
            {% csrf_token %}
            <div>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-form-label" style="font-weight: bold;">Task</label>
                  <div class="col-sm-10">
                    <input type="text" name="tsk" value="{{i.ta_sk}}" class="form-control" placeholder="Enter your today's task...">
                  </div>                  
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-form-label" style="font-weight: bold;">Description</label>
                  <div class="col-sm-10">
                    <textarea name="desp" class="form-control" rows="3" placeholder="Enter task description...">{{i.descri_ption}}</textarea>
                  </div>
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-outline-dark" >Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock home %}

