{% extends "navfooter.html" %}

{% block title %}All Forms{% endblock title %}

{% block bodyblock %}


<div>
    <h2 style="text-align: center; color: red; padding: 1%;">All Contact Us Forms</h2>
    <div style="padding: 1% 8%;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            
            {% for data in all_data %}
            <div class="col">
                <div class="card h-100">
                <img src="/media/{{data.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{data.full_name}}</h5>
                    <h6><b>Phone Number :</b> {{data.phone_number}}</h6>
                    <h6><b>Email-ID :</b> {{data.email_address}}</h6>
                    <p class="card-text"><b>Message :-</b> {{data.message}}</p>
                    <hr>

                    <div style="display: flex; justify-content: space-around;">


                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{data.id}}">Delete</button>

                        <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal{{data.id}}xyz">Update</button>
                    </div>

                </div>
                </div>
            </div>




            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Warnings</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to deete this record. ---> {{data.full_name}} <br><span style="color: red;">changes are paraments! you record delete preamnently from database</span></p>

                        <div class="card">
                            <img src="/media/{{data.img}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{data.full_name}}</h5>
                                <h6><b>Phone Number :</b> {{data.phone_number}}</h6>
                                <h6><b>Email-ID :</b> {{data.email_address}}</h6>
                                <p class="card-text"><b>Message :-</b> {{data.message}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        <a href="delete-contact-from/{{data.id}}">
                            <button type="button" class="btn btn-danger">Delete Record</button>
                        </a>

                    </div>
                    </div>
                </div>
            </div>

            <!-- Update Modal -->
            <div class="modal fade" id="exampleModal{{data.id}}xyz" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Contact Us Form</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                        <div >
                            <div style="padding: 2% 8%; background-color: #a3c9d6; border-radius: 18px; box-shadow: 7px 4px 10px 5px #8d8686;">
                                <h2 style="text-align: center; margin-bottom: 2%;">Update Data</h2>

                                <form action="contact-update/{{data.id}}" method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label">Full Name</label>
                                        <input type="text" name="fname" value="{{data.full_name}}" class="form-control" placeholder="Enter your full name..">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Phone Number</label>
                                        <input type="tel" name = "pnumber" value="{{data.phone_number}}" class="form-control" placeholder="Enter your phone number..">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">EMail Id</label>
                                        <input type="email" name = "email" value="{{data.email_address}}" class="form-control" placeholder="Enter your email address..">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Message</label>
                                        <textarea class="form-control" name = "msg" rows="3" placeholder="Enter your message...">{{data.message}}</textarea>
                                    </div>

                                    <div style="text-align: center;">
                                        <button type="submit" class="btn btn-success">Update Record</button>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>



            {% endfor %}

        </div>
    </div>
</div>



{% endblock bodyblock %}