<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div style="font-size: 18px; text-align: center; padding: 20px;">
        <a href="/">Home</a>
        <a href="/contact">Contact Us</a>
        <a href="services">Services</a>
        <a href="about">About Us</a>
    </div>



    {% block xyz %}{% endblock xyz %}

    {% block pqr %}{% endblock pqr %}

    


    <h1>footer</h1>
</body>
</html>